<html>
  <body>
    <p>Welcome to Ninja Money!</p>
    
 	<h3>Your Gold: </h3>
 	<p>{{session['yourGold']}}</p>	
 
 		Farm:
 		(earns 10-20 golds)
        <form action='/process' method='post'>
        	<input type='hidden' name='building' value='farm'>
            <input type='submit' value='Find Gold!'>
        </form> 

        Cave:
        (earns 5-10 golds)
        <form action='/process' method='post'>
        	<input type='hidden' name='building' value='cave'>
             <input type='submit' value='Find Gold!'>
        </form> 

        House:
        (earns 2-5 golds)
        <form action='/process' method='post'>
        	<input type='hidden' name='building' value='house'>
             <input type='submit' value='Find Gold!'>
        </form> 

        Casino:
        (earns 0-50 golds)
        <form action='/process' method='post'>
        	<input type='hidden' name='building' value='casino'>
             <input type='submit' value='Find Gold!'>
        </form>

        Activities:
        <textarea rows="4" cols="50" name='activities' readonly >
        	
        </textarea>

  </body>

</html>
